body {
	background: #e6eeff;
}


.blogentry {
	font-family: "georgia";
	font-size: 16px;
	margin: auto;
}


h1 {
	text-align: center;
	font-family: 'Tangerine';
	font-size: 50px;
}


h2 {
	font-family: 'cursive';
}

h3 {
	font-family: 'cursive';
}