body {
	background: #99bbff;
}


.blogentry {
	font-family: "times new roman";
	font-size: 16px;
	margin: auto;
}


h1 {
	text-align: center;
	font-family: 'Tangerine';
	font-size: 50px;
}


h2 {
	font-family: "cursive";
}